/* ウェブフォントを使用する場合はここに定義を追加して下さい */

@font-face {
    font-family:"NotoSansJP";
    src:url("../../data/others/NotoSansJP-Regular-sub.woff2") format("woff2"),
    url("../../data/others/NotoSansJP-Regular-sub.woff") format("woff"),
    url("../../data/others/NotoSansJP-Regular-sub.otf") format("opentype");
    font-weight:normal;font-style:normal;
 }
